.idyllic-palm-tree-coastline-tr-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1052.9px;
  height: 602.1px;
  object-fit: cover;
}
.h,
.l {
  position: relative;
}
.l {
  width: 105.9px;
  font-size: 168.2px;
  display: inline-block;
  height: 155.4px;
  flex-shrink: 0;
  margin-left: -39.4px;
}
.logo-principal {
  position: absolute;
  top: 116.6px;
  left: 437.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hemily,
.lucas {
  letter-spacing: 0.12em;
}
.hemily {
  position: absolute;
  top: 24.2px;
  left: 0;
}
.lucas {
  top: 21.5px;
  left: 190.9px;
}
.div,
.lucas,
.nomes {
  position: absolute;
}
.div {
  top: 0;
  left: 136.9px;
  font-size: 95.7px;
  font-family: var(--font-caveat);
  opacity: 0.25;
}
.nomes {
  top: 24.8px;
  left: 355.1px;
  width: 313.9px;
  height: 121px;
  font-size: var(--font-size-43xl-3);
}
.idyllic-palm-tree-coastline-tr-parent {
  width: 1052.9px;
  position: relative;
  height: 602.1px;
  display: none;
  text-align: left;
  font-size: 178.4px;
  font-family: var(--font-madelyn-fill-trial);
}
.logo-icon {
  width: 206.1px;
  position: relative;
  height: 189.6px;
}
.logo {
  width: 206.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-20xl);
  box-sizing: border-box;
}
.vector-icon {
  width: 307.8px;
  position: relative;
  height: 78px;
  z-index: 0;
}
.icon {
  width: 56.2px;
  position: absolute;
  margin: 0 !important;
  top: 9.5px;
  left: 150.9px;
  height: 67.7px;
  opacity: 0.25;
  z-index: 1;
}
.vector-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
  margin-top: -39.1px;
}
.logo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vector-icon1 {
  width: 646.5px;
  position: relative;
  height: 202.1px;
}
.frame-parent,
.index-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl-8);
}
.index-inner {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 47px 370.1px;
  background-image: url(./public/frame-1321317261@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vector-icon3 {
  width: 396px;
  position: relative;
  height: 123.8px;
}
.frame-group,
.mobilehero {
  align-items: center;
  justify-content: center;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobilehero {
  width: 520px;
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: 48px var(--padding-base);
  box-sizing: border-box;
  background-image: url(./public/mobilehero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 520px;
}
.group-icon {
  width: 135.8px;
  position: relative;
  height: 135.9px;
}
.isto-importante,
.no-se-esquea {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.no-se-esquea {
  text-transform: capitalize;
}
.isto-importante {
  font-size: var(--font-size-mid-6);
  font-family: var(--font-handlee);
}
.no-se-esquea-de-confirmar-su-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  color: inherit;
  text-decoration: none;
}
.confirmar-presena-wrapper {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
  font-family: var(--font-caveat-brush);
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.group-parent,
.presena-desk {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group-parent {
  justify-content: flex-start;
  gap: var(--gap-37xl-5);
}
.presena-desk {
  align-self: stretch;
  background-color: var(--color-white);
  height: 202.3px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-5xs-6);
  box-sizing: border-box;
  text-align: left;
  color: var(--d9d9d9);
}
.isto-importante1,
.no-se-esquea1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.no-se-esquea1 {
  text-transform: capitalize;
}
.isto-importante1 {
  font-size: var(--font-size-mid-6);
  font-family: var(--font-handlee);
}
.no-se-esquea-de-confirmar-su-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena-container {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
  font-family: var(--font-caveat-brush);
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-smi);
}
.frame-div,
.group-group,
.presena-mobile {
  align-items: center;
  justify-content: center;
}
.group-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  gap: var(--gap-37xl-5);
}
.presena-mobile {
  width: 520px;
  background-color: var(--color-white);
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 520px;
  color: var(--d9d9d9);
}
.sobre-icon {
  align-self: stretch;
  position: relative;
  border-radius: 7.82px 7.82px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 89.3px;
  flex-shrink: 0;
  object-fit: cover;
}
.roteiro-horrios-local {
  width: 279.5px;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  font-family: var(--font-handlee);
  color: var(--d9d9d9);
  display: inline-block;
}
.card-sobre,
.sobre-o-casamento-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobre-o-casamento-parent {
  justify-content: center;
  padding: 0 var(--padding-6xs-5);
  gap: var(--gap-base-6);
}
.card-sobre {
  width: 316px;
  box-shadow: 1.3px 2px 4.37px rgba(0, 0, 0, 0.08);
  border-radius: 7.82px;
  background-color: var(--color-white);
  height: 211.1px;
  justify-content: flex-start;
  gap: var(--gap-5xs-8);
  cursor: pointer;
}
.lista-de-presentes {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-transform: capitalize;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.card-desk,
.frame-card {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-card {
  flex-direction: row;
  gap: var(--gap-13xl-6);
}
.card-desk {
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-3xs);
  background-image: url(./public/carddesk@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-13xl);
  color: var(--color);
}
.para-quem-for1 {
  width: 279.5px;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-transform: capitalize;
  font-family: var(--font-handlee);
  color: var(--d9d9d9);
  display: inline-block;
}
.card-mobile,
.frame-card-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-card-1 {
  display: flex;
  gap: var(--gap-13xl-6);
}
.card-mobile {
  width: 520px;
  display: none;
  padding: var(--padding-9xl) var(--padding-3xs);
  box-sizing: border-box;
  background-image: url(./public/cardmobile@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-13xl);
  color: var(--color);
}
.s-icon {
  width: 168.6px;
  position: relative;
  height: 42.2px;
  display: none;
}
.vector-icon4 {
  width: 25.3px;
  position: relative;
  height: 25.3px;
}
.oua-nossa-playlist-container {
  width: 254px;
  position: relative;
  display: inline-block;
}
.vector-parent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.confira {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}
.confira-wrapper {
  width: 132px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
}
.div1,
.div2 {
  position: absolute;
  top: 11.1px;
  left: 0;
  display: inline-block;
  width: 6.5px;
}
.div2 {
  left: 126.3px;
}
.group-child {
  position: absolute;
  top: 9.3px;
  left: 3.3px;
  max-height: 100%;
  width: 126.3px;
  object-fit: contain;
}
.group-item {
  position: absolute;
  top: 7.6px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 3.5px;
  height: 3.5px;
}
.div3,
.hemylu {
  width: 66.4px;
  position: relative;
  display: inline-block;
}
.div3 {
  font-size: var(--font-size-10xs-6);
  font-weight: 300;
}
.hemylu-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
}
.heart-streamline-core-1-icon {
  width: 3.5px;
  position: relative;
  height: 3.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 3.3px;
  width: 126.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-42xl-2);
  text-align: left;
  font-size: var(--font-size-9xs-5);
  font-family: var(--font-petrona);
}
.triangle-arrow-transfer-vertic-icon {
  width: 3.9px;
  position: relative;
  height: 3.9px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.button-previous-streamline-co-icon {
  width: 3px;
  position: relative;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-play-circle-streamline-icon,
.button-previous-streamline-co-icon1 {
  width: 5.2px;
  position: relative;
  height: 5.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-previous-streamline-co-icon1 {
  width: 3px;
  height: 3px;
  object-fit: contain;
}
.button-previous-streamline-co-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs-7);
}
.triangle-arrow-reload-vertical-icon {
  width: 4.1px;
  position: relative;
  height: 4.1px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.triangle-arrow-transfer-vertic-parent {
  position: absolute;
  top: 13.9px;
  left: 39.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-4);
}
.parent {
  width: 132.8px;
  position: relative;
  height: 19.1px;
  font-size: var(--font-size-10xs-9);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent1,
.spotfy-mobile {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color);
  font-family: var(--font-caveat-brush);
}
.spotfy-mobile {
  flex: 1;
  justify-content: flex-start;
}
.index,
.spotfy,
.spotfy-mobile {
  display: flex;
  align-items: center;
}
.spotfy {
  align-self: stretch;
  background: linear-gradient(85.38deg, #2a4f3d, #02676a);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-smi-3);
  font-family: var(--font-petrona);
}
.index {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-white);
  font-family: var(--font-caveat);
}
@media screen and (max-width: 520px) {
  .frame-parent {
    width: 399px;
    height: 500px;
    gap: 24.76px;
  }
  .index-inner {
    display: none;
    align-self: stretch;
    width: auto;
  }
  .frame-group {
    width: 399px;
    height: 500px;
    gap: 24.76px;
  }
  .mobilehero {
    display: flex;
    width: 100%;
  }
  .presena-desk {
    display: none;
  }
  .group-group {
    display: flex;
  }
  .presena-mobile {
    display: flex;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-card {
    flex-direction: column;
  }
  .card-desk {
    display: none;
    align-self: stretch;
    width: auto;
  }
  .frame-card-1 {
    flex-direction: column;
  }
  .card-mobile {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .spotfy-mobile {
    display: flex;
  }
}
