.idyllic-palm-tree-coastline-tr-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1233.5px;
  height: 705.3px;
  object-fit: cover;
}
.h1,
.l1 {
  position: relative;
}
.l1 {
  width: 124px;
  font-size: var(--font-size-178xl-1);
  display: inline-block;
  height: 182px;
  flex-shrink: 0;
  margin-left: -46.2px;
}
.logo-principal1 {
  position: absolute;
  top: 136.6px;
  left: 512.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hemily1,
.lucas1 {
  letter-spacing: 0.12em;
}
.hemily1 {
  position: absolute;
  top: 28.5px;
  left: 0;
}
.lucas1 {
  top: 25.2px;
  left: 223.7px;
}
.div4,
.lucas1,
.nomes1 {
  position: absolute;
}
.div4 {
  top: 0;
  left: 160.3px;
  font-size: var(--font-size-93xl-1);
  font-family: var(--font-caveat);
  opacity: 0.25;
}
.nomes1 {
  top: 29px;
  left: 416px;
  width: 367.7px;
  height: 141px;
  font-size: var(--font-size-53xl-9);
}
.idyllic-palm-tree-coastline-tr-group {
  width: 1233.5px;
  position: relative;
  height: 705.3px;
  display: none;
  text-align: left;
  font-size: var(--font-size-190xl);
  color: var(--color-white);
  font-family: var(--font-madelyn-fill-trial);
}
.sobre-o-casamento3 {
  width: 697.4px;
  position: relative;
  height: 99.1px;
}
.sobre-o-casamento-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-49xl) var(--padding-base);
  background-image: url(./public/frame-1321317379@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.sobre-o-casamento4 {
  width: 380px;
  position: relative;
  height: 54px;
}
.sobre-o-casamento-container {
  width: 520px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-49xl) var(--padding-base);
  box-sizing: border-box;
  background-image: url(./public/frame-1321317382@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 520px;
}
.a-ideia-do {
  margin: 0;
}
.a-ideia-do,
.nt {
  letter-spacing: 0.12em;
}
.span {
  letter-spacing: -0.36em;
}
.nt-imo-e-leve-onde-possamos-c {
  margin: 0;
}
.a-ideia-do-container {
  flex: 1;
  position: relative;
  line-height: 113.81%;
  display: inline-block;
  max-width: 840px;
}
.a-ideia-do-nosso-casamento-q-wrapper {
  align-self: stretch;
  background-color: var(--d9d9d9);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 0;
  font-size: 30.7px;
  color: var(--color-white);
}
.roteiro-do-evento {
  position: relative;
  font-size: var(--font-size-16xl-9);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  color: var(--d9d9d9);
  text-align: left;
}
.frame-icon {
  width: 41.2px;
  position: relative;
  height: 38.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.brunch,
.horrio-0800 {
  width: 130.5px;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  display: inline-block;
}
.horrio-0800 {
  width: 194.1px;
  font-size: var(--font-size-5xl-4);
  height: 29px;
  flex-shrink: 0;
}
.brunch-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ficar-disponvel-at {
  width: 214.4px;
  position: relative;
  font-size: var(--font-size-xs-8);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  font-family: var(--font-petrona);
  display: inline-block;
  height: 17.1px;
  flex-shrink: 0;
}
.frame-parent4,
.frame-parent5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
}
.frame-parent4 {
  gap: var(--gap-sm-7);
}
.frame-child {
  width: 29.9px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
}
.cerimnia {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.horrio-0900 {
  width: 194.1px;
  font-size: var(--font-size-7xl-9);
  height: 29px;
  flex-shrink: 0;
}
.horrio-0900,
.horrio-livre,
.ocorrer-na-praia,
.voc-poder-curtir {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  display: inline-block;
}
.ocorrer-na-praia {
  width: 214.4px;
  font-size: var(--font-size-xs-8);
  font-family: var(--font-petrona);
}
.horrio-livre,
.voc-poder-curtir {
  width: 230.5px;
}
.voc-poder-curtir {
  width: 282.4px;
  font-size: var(--font-size-xs-8);
  line-height: 156%;
  font-family: var(--font-petrona);
}
.frame-parent3 {
  width: 1334.8px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.brunch1 {
  width: 130.5px;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  display: inline-block;
  text-shadow: 0.2px 0 0#02676a, 0 0.2px 0#02676a, -0.2px 0 0#02676a,
    0-0.2px 0#02676a;
}
.frame-child1 {
  width: 29.9px;
  position: relative;
  height: 0;
  flex-shrink: 0;
}
.cerimnia1,
.horrio-livre1 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-shadow: 0.2px 0 0#02676a, 0 0.2px 0#02676a, -0.2px 0 0#02676a,
    0-0.2px 0#02676a;
}
.cerimnia1 {
  align-self: stretch;
}
.horrio-livre1 {
  width: 230.5px;
  display: inline-block;
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.frame-wrapper2 {
  width: 520px;
  position: relative;
  height: 178.1px;
  overflow-x: auto;
  flex-shrink: 0;
  display: none;
  max-width: 520px;
  font-family: var(--font-photoshoot);
}
.roteiro-do-evento-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-23xl) 0;
  gap: var(--gap-22xl-2);
  font-size: var(--font-size-19xl-2);
}
.rectangle-icon {
  width: 408.4px;
  position: relative;
  border-radius: 18.91px;
  height: 260.3px;
  object-fit: cover;
}
.local-do-evento {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.barra-de-sirinham,
.quinta-da-barra {
  width: 518px;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 86.09%;
  display: inline-block;
}
.barra-de-sirinham {
  width: 372.5px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-handlee);
}
.quinta-da-barra-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-39xl-9);
  font-family: var(--font-caveat);
}
.vector-stroke-icon {
  width: 22.2px;
  position: relative;
  height: 31.1px;
}
.vector-stroke-wrapper {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rua-projetada-08 {
  width: 631px;
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.12em;
  color: inherit;
  display: inline-block;
}
.frame-parent21,
.rua-projetada-08-lot-recreio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent21 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm-9);
  font-size: var(--font-size-3xl);
  color: var(--color);
}
.local-do-evento-parent,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.rectangle-parent {
  flex-direction: row;
  justify-content: center;
}
.sobre-o-casamento-inner {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) 0;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--d9d9d9);
  font-family: var(--font-handlee);
}
.barra-de-sirinham1,
.quinta-da-barra1 {
  width: 432.8px;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 86.09%;
  display: inline-block;
}
.barra-de-sirinham1 {
  width: 372.5px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-wildy-sans);
}
.quinta-da-barra-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  text-align: center;
  font-size: var(--font-size-39xl-9);
  font-family: var(--font-photoshoot);
}
.rua-projetada-081 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  color: inherit;
  text-decoration: none;
}
.rua-projetada-08-lot-recreio-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent22,
.local-do-evento-group {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame-parent22 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-sm-9);
  font-size: var(--font-size-5xl);
  color: var(--color);
}
.local-do-evento-group {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-22xl-2);
}
.rectangle-group {
  width: 520px;
  background-color: var(--color-whitesmoke-100);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: 7.6px;
  max-width: 520px;
  text-align: left;
  color: var(--d9d9d9);
  font-family: var(--font-wildy-sans);
}
.frame-parent23,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1334.8px;
}
.frame-parent23 {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.group-div {
  height: 178.1px;
}
.mobile-inner {
  width: 510px;
  flex: 1;
  position: relative;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-19xl-2);
  color: var(--color);
}
.mobile {
  width: 1440px;
  height: 344px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 38.9px 0 0;
  box-sizing: border-box;
  gap: var(--gap-22xl-2);
  text-align: left;
  color: var(--d9d9d9);
}
.orientaes-gerais {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  text-align: center;
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.no-ser-permitido {
  margin-bottom: 0;
}
.no-ser-permitido-bebidas-alc {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-10xl);
}
.no-ser-permitido-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 91.95%;
  text-transform: capitalize;
}
.no-ser-permitido-bebidas-alc-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-22xl);
  font-size: var(--font-size-3xl-1);
  font-family: var(--font-handlee);
}
.group-icon2 {
  width: 230.5px;
  position: relative;
  height: 26.2px;
}
.o-que-levar {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
}
.roupas-de-banho-roupas-leves-e {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-6xl);
}
.roupas-de-banho-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.12em;
  text-transform: capitalize;
  font-family: var(--font-handlee);
}
.o-que-levar-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
}
.frame-parent32,
.orientaes-gerais-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.frame-parent32 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 240px;
  font-size: var(--font-size-5xl-4);
}
.orientaes-gerais-parent {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-118xl);
  text-align: left;
  font-size: var(--font-size-36xl);
}
.no-ser-permitido-container1,
.orientaes-gerais1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
}
.orientaes-gerais1 {
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.no-ser-permitido-container1 {
  line-height: 91.95%;
}
.no-ser-permitido-bebidas-alc-group,
.roupas-de-banho-container1 {
  align-self: stretch;
  font-family: var(--font-handlee);
  text-align: left;
}
.no-ser-permitido-bebidas-alc-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-3xl-1);
}
.roupas-de-banho-container1 {
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.12em;
}
.o-que-levar-group,
.oque-ser-disponibilizado-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
}
.oque-ser-disponibilizado-group {
  align-items: flex-start;
}
.frame-parent33,
.orientaes-gerais-group {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.frame-parent33 {
  align-self: stretch;
  display: flex;
  font-size: var(--font-size-5xl-4);
}
.orientaes-gerais-group {
  width: 520px;
  display: none;
  padding: var(--padding-21xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 520px;
  font-size: var(--font-size-36xl);
}
.group-icon4 {
  width: 135.8px;
  position: relative;
  height: 135.9px;
}
.isto-importante2 {
  position: relative;
  font-size: var(--font-size-mid-6);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  font-family: var(--font-handlee);
}
.no-se-esquea-de-confirmar-su-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena2 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  color: inherit;
  text-decoration: none;
}
.confirmar-presena-frame {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
}
.frame-parent34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.group-container,
.presena-desk1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group-container {
  justify-content: flex-start;
  gap: var(--gap-37xl-5);
}
.presena-desk1 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 202.3px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-5xs-6);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--d9d9d9);
  font-family: var(--font-caveat-brush);
}
.isto-importante3,
.no-se-esquea3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.no-se-esquea3 {
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.isto-importante3 {
  font-size: var(--font-size-mid-6);
}
.no-se-esquea-de-confirmar-su-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena-wrapper1 {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
  font-family: var(--font-caveat-brush);
}
.frame-parent35 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-smi);
}
.frame-parent35,
.group-parent1,
.presena-mobile1 {
  align-items: center;
  justify-content: center;
}
.group-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  gap: var(--gap-37xl-5);
}
.presena-mobile1 {
  width: 520px;
  background-color: var(--color-white);
  overflow: hidden;
  display: none;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 520px;
  font-size: var(--font-size-8xl);
  color: var(--d9d9d9);
  font-family: var(--font-wildy-sans);
}
.home4-icon {
  align-self: stretch;
  position: relative;
  border-radius: 7.82px 7.82px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 89.3px;
  flex-shrink: 0;
  object-fit: cover;
}
.home,
.roteiro-horrios-local2 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.home {
  text-transform: capitalize;
}
.roteiro-horrios-local2 {
  width: 279.5px;
  font-size: var(--font-size-xs);
  font-family: var(--font-handlee);
  color: var(--d9d9d9);
  display: inline-block;
}
.cardhome,
.home-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-parent {
  justify-content: center;
  padding: 0 var(--padding-6xs-5);
  gap: var(--gap-base-6);
}
.cardhome {
  width: 316px;
  box-shadow: 1.3px 2px 4.37px rgba(0, 0, 0, 0.08);
  border-radius: 7.82px;
  background-color: var(--color-white);
  height: 211.1px;
  justify-content: flex-start;
  gap: var(--gap-5xs-8);
  cursor: pointer;
}
.lista-de-presentes2 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-transform: capitalize;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.card-desk1,
.cardhome-parent {
  align-self: stretch;
  display: flex;
}
.cardhome-parent {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl-6);
}
.card-desk1 {
  padding: var(--padding-9xl) var(--padding-3xs);
  background-image: url(./public/carddesk1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-13xl);
}
.card-desk1,
.card-mobile2,
.frame-13213asda17343 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-13213asda17343 {
  display: flex;
  gap: var(--gap-13xl-6);
}
.card-mobile2 {
  width: 520px;
  display: none;
  padding: var(--padding-9xl) var(--padding-3xs);
  box-sizing: border-box;
  background-image: url(./public/cardmobile21@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-13xl);
}
.s-icon1 {
  width: 168.6px;
  position: relative;
  height: 42.2px;
  display: none;
}
.vector-icon5 {
  width: 25.3px;
  position: relative;
  height: 25.3px;
}
.oua-nossa-playlist-container1 {
  width: 254px;
  position: relative;
  display: inline-block;
}
.vector-parent2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.confira1 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}
.confira-container {
  width: 132px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  cursor: pointer;
}
.div5,
.div6 {
  position: absolute;
  top: 11.1px;
  left: 0;
  display: inline-block;
  width: 6.5px;
}
.div6 {
  left: 126.3px;
}
.group-inner {
  position: absolute;
  top: 9.3px;
  left: 3.3px;
  max-height: 100%;
  width: 126.3px;
  object-fit: contain;
}
.ellipse-div {
  position: absolute;
  top: 7.6px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 3.5px;
  height: 3.5px;
}
.div7,
.hemylu1 {
  width: 66.4px;
  position: relative;
  display: inline-block;
}
.div7 {
  font-size: var(--font-size-10xs-6);
  font-weight: 300;
}
.hemylu-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
}
.heart-streamline-core-1-icon1 {
  width: 3.5px;
  position: relative;
  height: 3.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent37 {
  position: absolute;
  top: 0;
  left: 3.3px;
  width: 126.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-42xl-2);
  text-align: left;
  font-size: var(--font-size-9xs-5);
  font-family: var(--font-petrona);
}
.triangle-arrow-transfer-vertic-icon1 {
  width: 3.9px;
  position: relative;
  height: 3.9px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.button-previous-streamline-co-icon2 {
  width: 3px;
  position: relative;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-play-circle-streamline-icon1,
.button-previous-streamline-co-icon3 {
  width: 5.2px;
  position: relative;
  height: 5.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-previous-streamline-co-icon3 {
  width: 3px;
  height: 3px;
  object-fit: contain;
}
.button-previous-streamline-co-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs-7);
}
.triangle-arrow-reload-vertical-icon1 {
  width: 4.1px;
  position: relative;
  height: 4.1px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.triangle-arrow-transfer-vertic-group {
  position: absolute;
  top: 13.9px;
  left: 39.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-4);
}
.group {
  width: 132.8px;
  position: relative;
  height: 19.1px;
  font-size: var(--font-size-10xs-9);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent36,
.spotfy-mobile1 {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent36 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color);
  font-family: var(--font-caveat-brush);
}
.spotfy-mobile1 {
  flex: 1;
  justify-content: flex-start;
}
.sobre-o-casamento2,
.spotfy-mobile1,
.spotfy2 {
  display: flex;
  align-items: center;
}
.spotfy2 {
  align-self: stretch;
  background: linear-gradient(85.38deg, #2a4f3d, #02676a);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  font-size: var(--font-size-smi-3);
  color: var(--color-white);
  font-family: var(--font-petrona);
}
.sobre-o-casamento2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-16xl-9);
  color: var(--color);
  font-family: var(--font-caveat);
}
@media screen and (max-width: 1200px) {
  .sobre-o-casamento-wrapper {
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .a-ideia-do-nosso-casamento-q-wrapper {
    padding-right: var(--padding-61xl);
  }
  .a-ideia-do-nosso-casamento-q-wrapper,
  .orientaes-gerais-parent,
  .roteiro-do-evento-parent {
    padding-left: var(--padding-61xl);
    box-sizing: border-box;
  }
  .roteiro-do-evento-parent {
    padding-right: 8px;
  }
  .orientaes-gerais-parent {
    padding-right: var(--padding-61xl);
  }
}
@media screen and (max-width: 960px) {
  .a-ideia-do-nosso-casamento-q-wrapper,
  .orientaes-gerais-parent,
  .roteiro-do-evento-parent {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 520px) {
  .sobre-o-casamento-wrapper {
    display: none;
  }
  .sobre-o-casamento-container {
    display: flex;
  }
  .a-ideia-do-container {
    font-size: var(--font-size-5xl);
  }
  .a-ideia-do-nosso-casamento-q-wrapper {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .frame-parent3 {
    display: none;
  }
  .frame-wrapper2 {
    display: flex;
  }
  .roteiro-do-evento-parent {
    display: none;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .sobre-o-casamento-inner {
    display: none;
  }
  .rua-projetada-081 {
    font-size: var(--font-size-lg);
  }
  .mobile,
  .rectangle-group {
    display: flex;
  }
  .no-ser-permitido-bebidas-alc-parent {
    align-self: stretch;
    width: auto;
  }
  .frame-parent32,
  .orientaes-gerais-parent {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .orientaes-gerais-parent {
    display: none;
  }
  .orientaes-gerais-group {
    display: flex;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .presena-desk1 {
    display: none;
  }
  .group-parent1,
  .presena-mobile1 {
    display: flex;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .cardhome-parent {
    flex-direction: column;
  }
  .card-desk1 {
    display: none;
    align-self: stretch;
    width: auto;
  }
  .frame-13213asda17343 {
    flex-direction: column;
  }
  .card-mobile2 {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .spotfy-mobile1 {
    display: flex;
  }
}
