.idyllic-palm-tree-coastline-tr-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1233.5px;
  height: 705.3px;
  object-fit: cover;
}
.h3,
.l3 {
  position: relative;
}
.l3 {
  width: 124px;
  font-size: var(--font-size-178xl-1);
  display: inline-block;
  height: 182px;
  flex-shrink: 0;
  margin-left: -46.2px;
}
.logo-principal3 {
  position: absolute;
  top: 136.6px;
  left: 512.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hemily3,
.lucas3 {
  letter-spacing: 0.12em;
}
.hemily3 {
  position: absolute;
  top: 28.4px;
  left: 0;
}
.lucas3 {
  top: 25.2px;
  left: 223.7px;
}
.div13,
.lucas3,
.nomes3 {
  position: absolute;
}
.div13 {
  top: 0;
  left: 160.3px;
  font-size: var(--font-size-93xl-1);
  font-family: var(--font-caveat);
  opacity: 0.25;
}
.nomes3 {
  top: 29px;
  left: 416px;
  width: 367.7px;
  height: 141px;
  font-size: var(--font-size-53xl-9);
}
.idyllic-palm-tree-coastline-tr-group {
  width: 1233.5px;
  position: relative;
  height: 705.3px;
  display: none;
  font-size: var(--font-size-190xl);
  color: var(--color-white);
  font-family: var(--font-madelyn-fill-trial);
}
.sobre-o-casamento3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-shadow: 0.8px 0 0#fff, 0 0.8px 0#fff, -0.8px 0 0#fff, 0-0.8px 0#fff;
}
.sobre-o-casamento-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px var(--padding-base);
  background-image: url(./public/frame-1321317379@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-62xl);
  color: var(--color-white);
}
.a-ideia-do {
  margin: 0;
}
.a-ideia-do,
.nt {
  letter-spacing: 0.12em;
}
.span {
  letter-spacing: -0.36em;
}
.nt-imo-e-leve-onde-possamos-c {
  margin: 0;
}
.a-ideia-do-container {
  flex: 1;
  position: relative;
  line-height: 113.81%;
  display: inline-block;
  max-width: 840px;
}
.a-ideia-do-nosso-casamento-q-wrapper {
  align-self: stretch;
  background-color: var(--d9d9d9);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 0;
  text-align: center;
  font-size: var(--font-size-11xl-7);
  color: var(--color-white);
  font-family: var(--font-photoshoot);
}
.roteiro-do-evento {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.frame-icon {
  width: 41.2px;
  position: relative;
  height: 38.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.brunch,
.horrio-0800 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  display: inline-block;
}
.brunch {
  width: 130.5px;
  text-shadow: 0.2px 0 0#02676a, 0 0.2px 0#02676a, -0.2px 0 0#02676a,
    0-0.2px 0#02676a;
}
.horrio-0800 {
  width: 194.1px;
  font-size: var(--font-size-5xl-4);
  height: 29px;
  flex-shrink: 0;
}
.brunch-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ficar-disponvel-at {
  width: 214.4px;
  position: relative;
  font-size: var(--font-size-xs-8);
  letter-spacing: 0.12em;
  line-height: 113.81%;
  font-family: var(--font-petrona);
  display: inline-block;
  height: 17.1px;
  flex-shrink: 0;
}
.frame-parent19,
.frame-parent20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
}
.frame-parent19 {
  gap: var(--gap-sm-7);
}
.frame-child4 {
  width: 29.9px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
}
.cerimnia,
.horrio-0900 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.cerimnia {
  align-self: stretch;
  text-shadow: 0.2px 0 0#02676a, 0 0.2px 0#02676a, -0.2px 0 0#02676a,
    0-0.2px 0#02676a;
}
.horrio-0900 {
  width: 194.1px;
  font-size: var(--font-size-7xl-9);
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.ocorrer-na-praia {
  width: 214.4px;
  font-size: var(--font-size-xs-8);
  line-height: 113.81%;
  font-family: var(--font-petrona);
}
.horrio-livre,
.ocorrer-na-praia,
.voc-poder-curtir {
  position: relative;
  letter-spacing: 0.12em;
  display: inline-block;
}
.horrio-livre {
  width: 230.5px;
  line-height: 113.81%;
  text-shadow: 0.2px 0 0#02676a, 0 0.2px 0#02676a, -0.2px 0 0#02676a,
    0-0.2px 0#02676a;
}
.voc-poder-curtir {
  width: 282.4px;
  font-size: var(--font-size-xs-8);
  line-height: 156%;
  font-family: var(--font-petrona);
}
.frame-parent18 {
  width: 1334.8px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-19xl-2);
  color: var(--color);
  font-family: var(--font-photoshoot);
}
.roteiro-do-evento-parent {
  align-self: stretch;
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-19xl-9) 0 0;
  box-sizing: border-box;
  gap: var(--gap-22xl-2);
}
.frame-child8 {
  width: 29.9px;
  position: relative;
  height: 0;
  flex-shrink: 0;
}
.frame-parent27,
.frame-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1334.8px;
}
.frame-parent27 {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper4 {
  height: 178.1px;
}
.mobile-inner {
  width: 510px;
  flex: 1;
  position: relative;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-19xl-2);
  color: var(--color);
  font-family: var(--font-photoshoot);
}
.mobile {
  width: 1440px;
  height: 344px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-19xl-9) 0 0;
  box-sizing: border-box;
  gap: var(--gap-22xl-2);
}
.orientaes-gerais {
  position: relative;
  letter-spacing: 0.12em;
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.no-ser-permitido {
  margin-bottom: 0;
}
.no-ser-permitido-bebidas-alc {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-10xl);
}
.no-ser-permitido-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 91.95%;
}
.no-ser-permitido-bebidas-alc-parent {
  width: 892px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-22xl);
  font-size: var(--font-size-3xl-1);
  font-family: var(--font-wildy-sans);
}
.group-icon2 {
  width: 230.5px;
  position: relative;
  height: 26.2px;
}
.o-que-levar {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  text-shadow: 0.8px 0 0#02676a, 0 0.8px 0#02676a, -0.8px 0 0#02676a,
    0-0.8px 0#02676a;
}
.roupas-de-banho-roupas-leves-e {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-6xl);
}
.roupas-de-banho-container {
  width: 538.1px;
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.12em;
  font-family: var(--font-wildy-sans);
  display: inline-block;
}
.o-que-levar-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
}
.alimentao-repelentes-chapus-container {
  width: 611.4px;
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.12em;
  font-family: var(--font-wildy-sans);
  display: inline-block;
}
.oque-ser-disponibilizado-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
  font-family: var(--font-photoshoot);
}
.frame-parent36,
.orientaes-gerais-parent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.frame-parent36 {
  width: 611.4px;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-5xl-4);
}
.orientaes-gerais-parent {
  align-self: stretch;
  height: 587px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-19xl-9) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-36xl);
  color: var(--color);
  font-family: var(--font-dancing-script);
}
.no-ser-permitido-container1,
.orientaes-gerais1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
}
.orientaes-gerais1 {
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.no-ser-permitido-container1 {
  line-height: 91.95%;
}
.no-ser-permitido-bebidas-alc-group,
.roupas-de-banho-container1 {
  align-self: stretch;
  font-family: var(--font-wildy-sans);
  text-align: left;
}
.no-ser-permitido-bebidas-alc-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-3xl-1);
}
.roupas-de-banho-container1 {
  position: relative;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.12em;
}
.o-que-levar-group,
.oque-ser-disponibilizado-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
}
.oque-ser-disponibilizado-group {
  align-items: flex-start;
  font-family: var(--font-photoshoot);
}
.frame-parent37,
.orientaes-gerais-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.frame-parent37 {
  align-self: stretch;
  font-size: var(--font-size-5xl-4);
}
.orientaes-gerais-group {
  width: 100%;
  padding: var(--padding-21xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 520px;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color);
  font-family: var(--font-dancing-script);
}
.frame-child12 {
  width: 408.4px;
  position: relative;
  border-radius: 18.91px;
  height: 260.3px;
  object-fit: cover;
}
.barra-de-sirinham,
.quinta-da-barra {
  width: 432.8px;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 86.09%;
  display: inline-block;
}
.barra-de-sirinham {
  width: 372.5px;
  font-size: var(--font-size-15xl-7);
  font-family: var(--font-wildy-sans);
}
.quinta-da-barra-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  font-size: var(--font-size-39xl-9);
  font-family: var(--font-photoshoot);
}
.vector-stroke-icon2 {
  width: 22.2px;
  position: relative;
  height: 31.1px;
}
.vector-stroke-frame {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rua-projetada-082 {
  width: 631px;
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.12em;
  color: inherit;
  display: inline-block;
}
.frame-parent38,
.rua-projetada-08-lot-recreio-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent38 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm-9);
  font-size: var(--font-size-5xl);
  color: var(--color);
}
.local-do-evento-parent,
.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl-2);
}
.rectangle-container {
  flex-direction: row;
  justify-content: center;
}
.sobre-o-casamento-inner {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  height: 353.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quinta-da-barra-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs-2);
  text-align: center;
  font-size: var(--font-size-39xl-9);
  font-family: var(--font-photoshoot);
}
.rua-projetada-083 {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.12em;
  color: inherit;
}
.rua-projetada-08-lot-recreio-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent39,
.local-do-evento-group {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame-parent39 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-sm-9);
  font-size: var(--font-size-5xl);
  color: var(--color);
}
.local-do-evento-group {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-22xl-2);
}
.rectangle-parent1 {
  width: 520px;
  background-color: var(--color-whitesmoke-100);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs-6);
  max-width: 520px;
}
.group-icon4 {
  width: 135.8px;
  position: relative;
  height: 135.9px;
}
.isto-importante2 {
  position: relative;
  font-size: var(--font-size-mid-6);
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.no-se-esquea-de-confirmar-su-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena2 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
  color: inherit;
  text-decoration: none;
  text-shadow: 0.2px 0 0#fff, 0 0.2px 0#fff, -0.2px 0 0#fff, 0-0.2px 0#fff;
}
.confirmar-presena-frame {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
}
.frame-parent40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.group-parent2,
.sobre-o-casamento-child {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group-parent2 {
  justify-content: flex-start;
  gap: var(--gap-37xl-5);
}
.sobre-o-casamento-child {
  align-self: stretch;
  background-color: var(--color-white);
  height: 202.3px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-5xs-6);
  box-sizing: border-box;
  font-size: var(--font-size-8xl);
}
.isto-importante3,
.no-se-esquea3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.no-se-esquea3 {
  text-shadow: 0.2px 0 0#2a4f3d, 0 0.2px 0#2a4f3d, -0.2px 0 0#2a4f3d,
    0-0.2px 0#2a4f3d;
}
.isto-importante3 {
  font-size: var(--font-size-mid-6);
}
.no-se-esquea-de-confirmar-su-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-1);
}
.confirmar-presena-wrapper1 {
  width: 200.6px;
  box-shadow: 0 1.6px 1.64px rgba(0, 0, 0, 0.25);
  border-radius: 4.92px;
  background-color: var(--color);
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs-1);
  box-sizing: border-box;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
}
.frame-parent41,
.group-parent3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent41 {
  align-self: stretch;
  gap: var(--gap-smi);
}
.group-parent3 {
  flex: 1;
  gap: var(--gap-37xl-5);
}
.sobre-o-casamento-inner1 {
  width: 520px;
  background-color: var(--color-white);
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-5xs-6);
  box-sizing: border-box;
  max-width: 520px;
  text-align: center;
  font-size: var(--font-size-8xl);
}
.areia-icon,
.mar-icon {
  position: absolute;
  top: 0;
  left: 1022.7px;
  width: 887.7px;
  height: 1023.2px;
  object-fit: contain;
}
.areia-icon {
  top: 936.7px;
  left: 947.1px;
  width: 208.8px;
  height: 233.8px;
  display: none;
}
.areia-icon1,
.mar-icon1 {
  position: absolute;
  top: 552.5px;
  left: 0;
  width: 685.6px;
  height: 376.8px;
  object-fit: cover;
}
.mar-icon1 {
  top: 1135.3px;
  left: 952.9px;
  width: 265.7px;
  height: 295.5px;
  object-fit: contain;
}
.mar-parent {
  position: absolute;
  top: -550.6px;
  left: -243.7px;
  width: 1910.4px;
  height: 1430.8px;
}
.home-icon {
  align-self: stretch;
  position: relative;
  border-radius: 7.82px 7.82px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 89.3px;
  flex-shrink: 0;
  object-fit: cover;
}
.home,
.roteiro-horrios-local2 {
  position: relative;
  letter-spacing: 0.12em;
  line-height: 113.81%;
}
.home {
  text-shadow: 0.3px 0 0#02676a, 0 0.3px 0#02676a, -0.3px 0 0#02676a,
    0-0.3px 0#02676a;
}
.roteiro-horrios-local2 {
  width: 279.5px;
  font-size: var(--font-size-mini);
  color: var(--d9d9d9);
  display: inline-block;
}
.home-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-6xs-5);
  gap: var(--gap-base-6);
}
.home-parent {
  cursor: pointer;
}
.home-parent,
.presentes-container {
  width: 316px;
  box-shadow: 1.3px 2px 4.37px rgba(0, 0, 0, 0.08);
  border-radius: 7.82px;
  background-color: var(--color-white);
  height: 211.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs-8);
}
.frame-parent42 {
  position: absolute;
  top: 84.7px;
  left: 213px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl-6);
}
.group-parent4 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-100);
  height: 380.5px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color);
}
.frame-parent43,
.sobre-o-casamento-inner2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent43 {
  display: flex;
  gap: var(--gap-13xl-6);
}
.sobre-o-casamento-inner2 {
  width: 520px;
  display: none;
  padding: var(--padding-9xl) var(--padding-3xs);
  box-sizing: border-box;
  background-image: url(./public/frame-13213173751@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color);
}
.firefly-praia-vista-de-cima-a1 {
  position: absolute;
  top: 289.7px;
  left: -355px;
  width: 706px;
  height: 907.8px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  display: none;
}
.oua-nossa-playlist-container2 {
  width: 75px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.vector-icon2 {
  width: 168.6px;
  position: relative;
  height: 42.2px;
}
.div14,
.div15 {
  position: absolute;
  top: 11.1px;
  left: 0;
  display: inline-block;
  width: 6.5px;
}
.div15 {
  left: 126.3px;
}
.group-child1 {
  position: absolute;
  top: 9.3px;
  left: 3.3px;
  max-height: 100%;
  width: 126.3px;
  object-fit: contain;
}
.group-child2 {
  position: absolute;
  top: 7.6px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 3.5px;
  height: 3.5px;
}
.div16,
.hemylu2 {
  width: 66.4px;
  position: relative;
  display: inline-block;
}
.div16 {
  font-size: var(--font-size-10xs-6);
  font-weight: 300;
}
.hemylu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
}
.heart-streamline-core-1-icon2 {
  width: 3.5px;
  position: relative;
  height: 3.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent44 {
  position: absolute;
  top: 0;
  left: 3.3px;
  width: 126.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-42xl-2);
  text-align: left;
  font-size: var(--font-size-9xs-5);
  font-family: var(--font-petrona);
}
.triangle-arrow-transfer-vertic-icon2 {
  width: 3.9px;
  position: relative;
  height: 3.9px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.button-previous-streamline-co-icon4 {
  width: 3px;
  position: relative;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-play-circle-streamline-icon2,
.button-previous-streamline-co-icon5 {
  width: 5.2px;
  position: relative;
  height: 5.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-previous-streamline-co-icon5 {
  width: 3px;
  height: 3px;
  object-fit: contain;
}
.button-previous-streamline-co-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs-7);
}
.triangle-arrow-reload-vertical-icon2 {
  width: 4.1px;
  position: relative;
  height: 4.1px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.triangle-arrow-transfer-vertic-container {
  position: absolute;
  top: 13.9px;
  left: 39.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi-4);
}
.parent9 {
  width: 132.8px;
  position: relative;
  height: 19.1px;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-10xs-9);
  font-family: var(--font-inter);
}
.como-acessar-a-container2 {
  width: 38.4px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-child15 {
  width: 0;
  position: relative;
  height: 27.9px;
  object-fit: contain;
}
.b8 {
  width: 63.4px;
  position: relative;
  display: inline-block;
}
.parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63.4px;
  height: 28.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-11-icon2 {
  position: absolute;
  top: 10.2px;
  left: 63.4px;
  border-radius: 4.93px;
  width: 18.7px;
  height: 18.3px;
  object-fit: cover;
}
.frame-parent46 {
  width: 82px;
  position: relative;
  height: 28.5px;
}
.image-12-icon2 {
  position: absolute;
  top: 9.5px;
  left: 66.5px;
  border-radius: 4.93px;
  width: 18.7px;
  height: 19px;
  object-fit: cover;
}
.frame-parent47 {
  width: 85.2px;
  position: relative;
  height: 28.5px;
}
.aponte-a-camera-container2 {
  width: 86.6px;
  position: relative;
  display: inline-block;
}
.frame-parent45,
.group-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-4);
}
.frame-parent45 {
  width: 187.1px;
  gap: var(--gap-2xs-1);
}
.frame-wrapper7 {
  width: 475.5px;
  padding: 0 0 0 var(--padding-2xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-4xs-4);
}
.como-acessar-a-playlist-container,
.frame-wrapper7,
.oua-nossa-playlist-no-spotify-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.como-acessar-a-playlist-container {
  width: 415.7px;
  gap: var(--gap-5xs-2);
  text-align: left;
  font-size: var(--font-size-3xs-1);
}
.oua-nossa-playlist-no-spotify-container {
  position: absolute;
  top: 9.1px;
  left: calc(50% - 322.7px);
  width: 671.1px;
  gap: var(--gap-lg-9);
}
.tag-spotfy1 {
  flex: 1;
  position: relative;
  background: linear-gradient(85.38deg, #2a4f3d, #02676a);
  height: 117.3px;
  overflow: hidden;
}
.sobre-o-casamento-inner3,
.tag-spotfy-container {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.tag-spotfy-container {
  height: 77.5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.sobre-o-casamento-inner3 {
  flex-direction: column;
  align-items: center;
  text-align: right;
  font-size: var(--font-size-smi-3);
  color: var(--color-white);
  font-family: var(--font-petrona);
}
.group-child3 {
  position: absolute;
  top: 9.3px;
  left: 129.5px;
  width: 126.3px;
  height: 0;
  object-fit: contain;
}
.oua-nossa-playlist-no-spotify-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
}
.frame-parent51 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent51,
.frame-wrapper8,
.group-parent6 {
  display: flex;
  justify-content: flex-start;
}
.group-parent6 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base-4);
}
.frame-wrapper8 {
  width: 189px;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 var(--padding-2xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-4xs-4);
}
.como-acessar-a-playlist-parent1,
.frame-parent48 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.como-acessar-a-playlist-parent1 {
  flex-direction: row;
  gap: var(--gap-5xs-2);
  text-align: left;
  font-size: var(--font-size-3xs-1);
}
.frame-parent48 {
  flex-direction: column;
  gap: var(--gap-lg-9);
}
.sobre-o-casamento-inner4,
.sobre-o-casamento2 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sobre-o-casamento-inner4 {
  width: 520px;
  background: linear-gradient(85.38deg, #2a4f3d, #02676a);
  display: none;
  padding: var(--padding-4xl) 0;
  box-sizing: border-box;
  max-width: 520px;
  text-align: right;
  font-size: var(--font-size-smi-3);
  color: var(--color-white);
  font-family: var(--font-petrona);
}
.sobre-o-casamento2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  text-align: left;
  font-size: var(--font-size-16xl-9);
  color: var(--d9d9d9);
  font-family: var(--font-wildy-sans);
}
@media screen and (max-width: 520px) {
  .a-ideia-do-container {
    font-size: var(--font-size-5xl);
  }
  .roteiro-do-evento-parent {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .orientaes-gerais-parent {
    display: none;
  }
  .orientaes-gerais-group {
    display: flex;
  }
  .sobre-o-casamento-inner {
    display: none;
  }
  .rua-projetada-083 {
    font-size: 18px;
  }
  .sobre-o-casamento-child {
    display: none;
  }
  .sobre-o-casamento-inner1 {
    display: flex;
  }
  .group-parent4 {
    display: none;
  }
  .frame-parent43 {
    flex-direction: column;
  }
  .sobre-o-casamento-inner2 {
    display: flex;
    align-self: stretch;
    width: auto;
  }
  .sobre-o-casamento-inner3 {
    display: none;
  }
  .sobre-o-casamento-inner4 {
    display: flex;
  }
}
